/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0e6e6;
    margin: 0;
    padding: 0;
}

/* Navbar Styling */
.navbar-custom {
    background-color: #003366; /* Dark blue */
    padding: 5px;
}

.navbar-custom .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}

.navbar-custom .navbar-toggler {
    border-color: #fff;
}

.navbar-custom .navbar-nav .dropdown-menu {
    background-color: #003366;
}

.navbar-custom .dropdown-menu .dropdown-item {
    color: white;
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    background-color: #004080; /* Lighter shade of dark blue */
}

/* Logo styling */
.navbar-brand img {
    max-height: 40px;
    width: auto;
}

/* Dropdown Styling */
.dropdown-menu {
    background-color: #003366; /* Matching dropdown with navbar */
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    color: white !important;
}

.dropdown-item:hover {
    background-color: #1535ee !important; /* DodgerBlue hover */
    color: #fff !important;
}

/* Container Styling */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Enhanced box-shadow for depth */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to lift the table */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #003366;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Responsive Table */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    table, th, td {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
