body {
    font: 14px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b8d8f9;
}
.container {
    width: 500px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.logo {
    width: 100px;
    margin-bottom: 20px;
}
.header-text {
    margin-bottom: 20px;
}